#footer
  ul.list-inline.pull-left
    li © 2014 
      a(href='http://hyprtxt.com') Hyprtxt
    //- li
      a(href='#') Terms of Use
    //- li
      a(href='#') Privacy Policy
    li
      a(href='https://github.com/digitaldesigndj/starbound-today') GitHub Project
    li
      a(href='https://github.com/digitaldesigndj/starbound-today/issues') Issues
  ul.list-inline.pull-right

