extends layout

block content

  h1 #{title} 

  h3 Remember:

  p You may giveaway our services to 3rd parties, you can also protect your server with a password. It's easy to do.

  p We will not spam or sell your email address.

  p You can link to us and promote us from anywhere, like on your personal website. We like that!

  p If you are using our servers for more than 10 clients, you kick ass. Keep it up!

  h3 Legalese...

  h5 IMPORTANT WORDS OF ENCOURAGEMENT (Fork and Contribute)
  p All our code(s) and digital work(s) have not been filed with the US, UK and Australian Copyright Office. If you misuse or distribute our digital works without prior written consent from us, we will not seek damages and you will not be prosecuted. Actually, it would be nice if you reached out to us and let us know! You can do that on GitHub. The works are released under a dual GPL/MIT license, except where we deem the information private, at our sole discretion. You can find the code in various github repositories.

  h5 1. IMPORTANT INFORMATION
  p You should carefully read the following terms and conditions. Your purchase or use of Starbound Today™ products implies that you have read and accepted these terms and conditions.

  h5 2. Licensing
  p By using this service, you agree and acknowledge that you have purchased a copy of Starbound and have been authorized to use the software. 

  h5 3. Privacy
  p We will not sell, share, or rent your personal information to any third party or use your e-mail address for unsolicited mail. Any emails sent by Starbound Today will only be in connection with the provision of agreed services and products.

  h5 4. Service
  p Starbound Today™ grants you a nonexclusive limited license to use the web services and other products sold through our web site and supported by outside vendors like Digital Ocean and Google. (Also Open Source Software plus Chucklefish's Starbound).

  h5 a) MODIFICATIONS
  p You are authorized to make any necessary modification(s) to our products to fit your purposes. Mod on! You may not use your server for purposes other than hosting a Starbound game server. Call up Hyprtxt if you need something like that. Don't be a dick.

  h5 b) UNAUTHORIZED USE
  p You may not place any of our products, modified or unmodified, on a diskette, CD, website or any other medium and offer them for redistribution or resale of any kind without prior written consent from our company. Starbound Today has filed its works with various Copyright Offices globally. Any misuse or distribution of our templates/content will result in severe penalties, Starbound Today will pursue legal action for any losses resulting from your misuse of our content. We do not grant exclusive rights for items downloaded from our member section. 

  h5 c) IMAGE USAGE
  p All images used in our website templates are copyrighted by their respective owners and are subject to limited use. You do not have rights to reuse the images in their modified or present forms anywhere else including other templates or websites. Further you do not have rights to resell/license/sub license/lease the images used in our templates in their modified or present forms under any circumstances. 

  h5 d) ASSIGNABILITY
  p You may not sub-license, assign, or transfer this license to anyone else without prior written consent from Starbound Today.com. 

  h5 e) OWNERSHIP 
  p You may not claim intellectual or exclusive ownership to any of our products, modified or unmodified. All products are property of independent content providers. Starbound Today™ products are provided "as is" without warranty of any kind, either expressed or implied. You understand Starbound Today™ is not responsible for the content, quality or merchantability of any information, product or service offered herein and you must assume full responsibility to evaluate independently the accuracy, completeness, quality and usefulness of any information or other content. Starbound Today™ hereby expressly disclaims any and all warranties, expressed and implied, including but not limited to any warranties of accuracy, reliability, merchantability or fitness for a particular purpose by any vendor, customer, or associate offering information, products, any services linked to the Starbound Today.com website. The user /customer agrees that Starbound Today™ is not responsible, and shall have no liability to such user, with respect to any information, product or service offered by others who are linked to the Starbound Today.com website. Starbound Today™ shall not be liable for any damages allegedly sustained arising from use of the information, products, and services.

  h5 f) COMMUNITY AND GRIEFING
  p You are the custodian of this game. This goes for all players but espically admins. Be a good person. Do not do mean, discouraging, or otherwise unpleasent things to other people. Be a good fair player, and be polite. We reserve the right to terminate service at any time for any reason. Don't be a dick. You also understand that if you deliberately cause grief to users of starbound, your information will be publicly shown on our SHAMEFUL banned users list.

  h5 g) Limitation of Liability
  p Member acknowledges that Starbound Today shall not assume or have any liability for any action by Starbound Today or its affiliates and licensees with respect to the use of any services, content and websites. To the fullest extent permitted by applicable law, including but not limited to, negligence, Starbound Today shall not be liable to Member for any indirect, incidental, special or consequential damages (including, without limitation, damages or loss of business, lost profits, business interruption, loss of business information, or any other pecuniary loss, even if Starbound Today has been advised of the possibility of such damages, in connection with Starbound Today or with any other product or service provided by Starbound Today, or resulting from the use of or the inability to use the Website or any transaction entered into through or from Starbound Today, or from unauthorized access to or alteration of your transmissions, data, or account. Member specifically agrees that Starbound Today is not responsible or liable to Member or anyone else for any threatening, defamatory, obscene, offensive or illegal conduct or speech of any other party or any infringement or violation of another's rights, including intellectual property rights, rights of publicity, or rights of privacy. Starbound Today's liability to you for breach of this agreement is limited solely to $10.

  h5 h) Governing Law
  p Customer understands that for all disputes, with regard to any of Starbound Today.com services or any term listed in this policy, the only jurisdiction that shall be used in determining liability is the court situated in Dallas, Texas. If Starbound Today.com is obligated to go to court, rather than arbitration, to enforce any of its rights, or to collect any fees, you agree to reimburse Starbound Today.com for its legal fees, costs and disbursements if Starbound Today.com is successful. You agree that the Courts of the State of Texas, U.S.A. are the agreed and appropriate forums for any such suit, and consent to service of process by registered mail or overnight courier with proof of delivery.

  h5 i) Severability
  p If any term or provision of this Agreement is found to be unenforceable for any reason, this Agreement shall remain in full force and effect and shall be fully enforceable on its remaining terms and conditions. 

  h5 j) Refusal Of Service 
  p We reserve the right to refuse, cancel, or suspend service at our sole discretion. 

  h5 k) Funds Expiry
  p Any money that is left in your member account for 12 consecutive months will be forfeited to Starbound Today.  At Starbound Today's discretion, Starbound Today may provide a warning that this is about to happen.

  //- h5 l) Updates
  //- p Customers who are on a subscription plan may only download updates whilst their subscription is still active. Once a subscription plan expires, customers must renew their service for continued theme updates. 

  p You understand that Starbound Today™ reserves the right to change or modify these terms with no prior notice.

  p Have fun!
