{
  "allowAdminCommands": true,
  "allowAdminCommandsFromAnyone": true,
  "attemptAuthentication": false,
  "audioChannelSeparation": [
    -25,
    25
  ],
  "audioChannels": 2,
  "authHostname": "auth.playstarbound.com",
  "authPort": 21027,
  "bcryptRounds": 5000,
  "bind": "*",
  "checkAssetsDigest": false,
  "claimFile": "indev.claim",
  "clearPlayerFiles": false,
  "clearUniverseFiles": false,
  "controlPort": 21026,
  "crafting.filterHaveMaterials": false,
  "defaultWorldCoordinate": "alpha:-84936662:-62554636:-13754701:6:12",
  "fullscreen": false,
  "fullscreenResolution": [
    1920,
    1080
  ],
  "gamePort": 21025,
  "keyBindings": {
    "A": [
      "PlayerLeft",
      "CockpitLeft"
    ],
    "Backquote": [
      "InterfaceBarNPos"
    ],
    "C": [
      "InterfaceCrafting"
    ],
    "D": [
      "PlayerRight",
      "CockpitRight"
    ],
    "Down": [
      "EmoteSad",
      "CockpitDown",
      "ChatNextLine"
    ],
    "E": [
      "PlayerInteract",
      "GuiClose"
    ],
    "Eight": [
      "InterfaceBar8"
    ],
    "Escape": [
      "TitleBack",
      "CinematicSkip",
      "InterfaceEscapeMenu",
      "GuiClose",
      "ChatStop"
    ],
    "F": [
      "PlayerTechAction1"
    ],
    "F1": [
      "InterfaceHideHud"
    ],
    "F11": [
      "InterfaceToggleFullscreen"
    ],
    "F6": [
      "InterfaceStreaming"
    ],
    "Five": [
      "InterfaceBar5"
    ],
    "Four": [
      "InterfaceBar4"
    ],
    "G": [
      "PlayerTechAction2"
    ],
    "H": [
      "PlayerTechAction3"
    ],
    "I": [
      "InterfaceInventory"
    ],
    "J": [
      "InterfaceQuest"
    ],
    "L": [
      "InterfaceCodex"
    ],
    "LAlt": [
      "ShowLabels"
    ],
    "LCtrl": [
      "CameraShift"
    ],
    "LShift": [
      "PlayerShifting",
      "GuiShifting"
    ],
    "Left": [
      "EmoteNeutral",
      "CockpitLeft"
    ],
    "Minus": [
      "InterfaceBarNPos"
    ],
    "N": [
      "InterfaceInspectCursor"
    ],
    "Nine": [
      "InterfaceBar9"
    ],
    "One": [
      "InterfaceBar1"
    ],
    "PageDown": [
      "ChatPageDown"
    ],
    "PageUp": [
      "ChatPageUp"
    ],
    "Q": [
      "PlayerDropItem"
    ],
    "RAlt": [
      "ShowLabels"
    ],
    "RCtrl": [
      "CameraShift"
    ],
    "RShift": [
      "PlayerShifting",
      "GuiShifting"
    ],
    "Return": [
      "CinematicNext",
      "ChatSendLine",
      "ChatBegin"
    ],
    "Right": [
      "EmoteAnnoyed",
      "CockpitRight",
      "CinematicNext"
    ],
    "S": [
      "PlayerDown",
      "CockpitDown"
    ],
    "Seven": [
      "InterfaceBar7"
    ],
    "Six": [
      "InterfaceBar6"
    ],
    "Slash": [
      "ChatBeginCommand"
    ],
    "Space": [
      "PlayerJump"
    ],
    "Three": [
      "InterfaceBar3"
    ],
    "Two": [
      "InterfaceBar2"
    ],
    "Up": [
      "EmoteHappy",
      "CockpitUp",
      "ChatPreviousLine"
    ],
    "W": [
      "PlayerUp",
      "CockpitUp"
    ],
    "X": [
      "InterfaceDeselectHands"
    ],
    "Y": [
      "InterfaceRepeatCommand"
    ],
    "Z": [
      "InterfaceSwapHands"
    ],
    "Zero": [
      "InterfaceBar0"
    ]
  },
  "maxFrameskip": 10,
  "maxPlayers": 8,
  "maximized": true,
  "maximizedResolution": [
    1000,
    600
  ],
  "musicVol": 100,
  "passwordHash": "",
  "pixelRatioIdx": 3,
  "playerBackupFileCount": 3,
  "renderPreSleepRemainder": 4,
  "renderPriority": true,
  "renderSleep": true,
  "rootKey": "MIICCgKCAgEAuuxHOxa47eCix12TeI1KiDuSvu6Yculxl3yOzXDGG3OfS3A1sUioUy5wM8YZwoI0jpiVxsyZgsFZtzbO948H/v47I6YXwfGJ0ciw0RrHfxgPpeoTEEBOckWYJAFYWmF0xh5tN7RxMkVwFcGSFImgsA83h4xNvC9m+eiLs741sCfs36qD5Ka0ApI2RzeruKbGDZ/lBy/E/3HfLWOituTu37WZEbkFSruc0zu6aNAeEJB7vV4pun4BaEX7MtMzIokvGfzxRYJNlp6+T7McMAcNHQShkWx7cVd8TPzEUe7oafmrw0EM77Ja5PIil0w0Zr3Z1ITKI+G1zGSeAvjdO6N4hMUEthcT5H7YDuVZVb/pSPGAojIjh7lhoFZBI+2k9mOFMV+D6ysWbfScfaczRW9W6Gs5Kt/Gqa+iLGR6P4Xa9pOfjVz/mIW1HzYjPcjXqhC4rsiur1wlkqljowcK5dyufb79eeULUgq9j7g2lBDkEuvzm83plrwvSKKRFToB8D4nFW01c+HAbpNZdEW1r+J+NdV8Meoo4sB9+8wEfnQadS/eGEqNwh6CPVIXTubpzqgXiLCowFjRQ0O9m5GjrsnC8vGbNZOxvxp/gM6uhoYEVm2QvZPFRjsBiOEWi6/Z5YXs3fa2528JPBe/bGOb+QA8NUiyIFfPl/c4muFoR81yixkCAwEAAQ==",
  "sampleRate": 44100,
  "serverName": "A Starbound Server",
  "serverPasswords": [
    "password"
  ],
  "sfxVol": 100,
  "speechBubbles": true,
  "tileDamageLimit": 49,
  "title.connectionString": "",
  "upnpPortForwarding": true,
  "useDefaultWorldCoordinate": false,
  "username": "",
  "vsync": true,
  "waitForUpdate": true,
  "windowTitle": "Starbound - Beta",
  "windowedResolution": [
    1000,
    600
  ],
  "zoomLevel": 3
}